<%- include('../partials/header') %>
<div class="header bg-green-500">
  <div id="header-container" class="container mx-auto">
    <p class="text-5xl text-white text-bottom"><strong>Commission: <%= data.commission_code %></strong></p>
  </div>
</div>
<div class="w-100 h-10 bg-green-800">
  <div class="container mx-auto">
    <ul class='tabs flex cursor-pointer'>
      <li class='text-white py-2 px-6 active'><a>Edit</a></li>
    </ul>
  </div>

</div>
<div class="container mx-auto pt-5">
  <section>
    <div id="details" class="">
      <!-- <p class="text-3xl mb-5 font-medium inline-block ">Wesley Cenatus </p> <div class="simpleCircle inline-block"><a href='./commission.html'><i class="fa fa-dollar-sign"></i></a></div> -->
      <div class="grid grid-cols-3 gap-4">
        <fieldset>
          <!-- <legend class="uppercase text-xs font-semibold text-gray-500 mb-3">Basic Information</legend> -->
          <div class="grid">
            <div class="mb-3">
              <label class="text-xs uppercase font-semibold text-gray-500">Commission Code:</label>
              <div class="mb-3 pt-0">
                <input type="text" placeholder="Enter Commission Code" value="<%= data.commission_code %>"
                  class="px-3 py-3 border-solid border-2 border-light-blue-500 placeholder-gray-400 text-gray-700 relative bg-white bg-white rounded text-sm outline-none focus:outline-none focus:shadow-outline w-full" />
              </div>
            </div>
            <div class="mb-3">
              <label class="text-xs uppercase font-semibold text-gray-500"><i class="fas fa-lock mr-2"></i> Commission
                Name:</label>
              <div class="mb-3 pt-0">
                <input disabled type="text" placeholder="Enter Commission Name"
                  value="<%= data.commission_name[0] + ', ' + data.commission_name[1] %>"
                  class="px-3 py-3 border-solid border-2 border-light-blue-500 placeholder-gray-400 text-gray-700 relative bg-white bg-white rounded text-sm outline-none focus:outline-none focus:shadow-outline w-full" />
              </div>
            </div>
            <div class="mb-3">
              <label class="text-xs uppercase font-semibold text-gray-500"><i class="fas fa-lock mr-2"></i> Commission
                Translation:</label>
              <div class="mb-3 pt-0">
                <input disabled type="text" placeholder="Enter Profit Manager"
                  value="<%= agents[0].name + ', ' +agents[1].name %>"
                  class="px-3 py-3 border-solid border-2 border-light-blue-500 placeholder-gray-400 text-gray-700 relative bg-white bg-white rounded text-sm outline-none focus:outline-none focus:shadow-outline w-full" />
              </div>
            </div>

            
          </div>
        </fieldset>
        <fieldset>
          <!-- <legend class="uppercase text-xs font-semibold text-gray-500 mb-3">Additional Information</legend> -->
          <div class="grid">
            <div class="mb-3">
              <label class="text-xs uppercase font-semibold text-gray-500">Platform:</label>
              <div class="mb-3 pt-0">
                <select type="text" placeholder="Enter Platform" class="px-3 py-3 border-solid border-2 border-light-blue-500 placeholder-gray-400 text-gray-700 relative bg-white bg-white rounded text-sm outline-none focus:outline-none focus:shadow-outline w-full" >
                  <option>TSYS</option>
                  <option>TriSource</option>
                </select>
              </div>
            </div>

            <div class="mb-3">
              <label class="text-xs uppercase font-semibold text-gray-500">Profit Manager:</label>
              <div class="mb-3 pt-0">
                <input type="text" placeholder="Enter Profit Manager" value="<%= data.agents[1].name %>"
                  class="px-3 py-3 border-solid border-2 border-light-blue-500 placeholder-gray-400 text-gray-700 relative bg-white bg-white rounded text-sm outline-none focus:outline-none focus:shadow-outline w-full" />
              </div>
            </div>
            <div class="mb-3">

              <!-- <label class="text-xs uppercase font-semibold text-gray-500">Status:</label>
              <br />
              <label class="inline-flex items-center mt-3">
                <input type="checkbox" class="form-checkbox h-5 w-5 text-yellow-600" checked><span
                  class="ml-2 text-gray-700">Is Active?</span>
              </label> -->
              <!-- <input id="active" type="radio" name="status">
                          Active 
                          <input id="inactive" type="radio" name="status" class="ml-2">
                          Inactive -->

              <!-- <p class="font-semibold text-green-500">Active</p>  -->
            </div>

          </div>
        </fieldset>
      </div>

    </div>
  </section>
  <section>

    <div class=" grid grid-cols-4">
      <% var count = 0 %>
      <% for(var i =0; i < agents.length; i++){ %>
        <% count++ %>
        <div class="max-w-sm rounded overflow-hidden shadow-md mr-5">
          <div class="bg-gray-200 w-full h-2"></div>
          <% if(i === 1){ %>
            <span
              class="float-right text-xs font-semibold inline-block mr-3 my-3 py-1 px-2 uppercase rounded text-blue-500 bg-blue-100 uppercase last:mr-0 mr-1">
              Manager
            </span>
            <!-- <i style="opacity: 0.3;" class="fas fa-crown  text-yellow-500 text-4xl px-3 py-3"></i> -->
            <% } %>
            <% if(agents[i].active == false){ %>
              <span
                class="float-right text-xs font-semibold inline-block mr-3 my-3 py-1 px-2 uppercase rounded text-red-500 bg-red-100 uppercase last:mr-0 mr-1">
                Inactive
              </span>
              <!-- <i style="opacity: 0.3;" class="fas fa-crown  text-yellow-500 text-4xl px-3 py-3"></i> -->
            <% } %>
          <div></div>
          <div class="px-6 py-4">
            <div class="font-bold text-xl mb-2">Agent <%= i + 1 %></div>
            <p class="uppercase text-xs font-semibold text-gray-500">Name:</p>
            <div class="mb-3 pt-0">
              <input type="text" placeholder="Enter Name" value="<%= agents[i].name %>"
                class="px-3 py-3 border-solid border-2 border-light-blue-500 placeholder-gray-400 text-gray-700 relative bg-white rounded text-sm outline-none focus:outline-none focus:shadow-outline w-full" />
            </div>
            <!-- <hr class="my-3"/> -->
            <p class="uppercase text-xs font-semibold text-gray-500">Rate:</p>

            <div class="flex flex-wrap items-stretch w-full mb-4 relative">
              <input type="text" class="px-3 py-3 flex-shrink flex-grow flex-auto w-px flex-1 border-2 border-light-blue-500 rounded text-sm rounded-r-none placeholder-gray-400 text-gray-700 relative" placeholder="Enter Rate" value="<%= agents[i].rate.substring(0, agents[i].rate.length - 1); %>">
              <div class="flex -mr-px">
                <span class="flex items-center leading-normal bg-light-blue-500 rounded rounded-l-none border-l-0 border-2 border-light-blue-500 px-3 whitespace-no-wrap text-grey-dark text-sm">%</span>
              </div>	
            </div>	
          </div>
        </div>
      <% } %>
      <%  for(var i =0; i < 4 - agents.length; i++){ %>
        <div class="max-w-sm rounded overflow-hidden shadow-md mr-5">
          <div class="bg-gray-200 w-full h-2"></div>            
          <div></div>
          <div class="px-6 py-4">
            <div class="font-bold text-xl mb-2">Agent <%= count + 1 + i %></div>
            <p class="uppercase text-xs font-semibold text-gray-500">Name:</p>
            <div class="mb-3 pt-0">
              <input type="text" placeholder="Enter Name"
                class="px-3 py-3 border-solid border-2 border-light-blue-500 placeholder-gray-400 text-gray-700 relative bg-white bg-white rounded text-sm outline-none focus:outline-none focus:shadow-outline w-full" />
            </div>
            <!-- <hr class="my-3"/> -->
            <p class="uppercase text-xs font-semibold text-gray-500">Rate:</p>
            <div class="flex flex-wrap items-stretch w-full mb-4 relative">
              <input type="text" class="px-3 py-3 flex-shrink flex-grow flex-auto w-px flex-1 border-2 border-light-blue-500 rounded text-sm rounded-r-none placeholder-gray-400 text-gray-700 relative" placeholder="Enter Rate" value="<%= agents[i].rate.substring(0, agents[i].rate.length - 1); %>">
              <div class="flex -mr-px">
                <span class="flex items-center leading-normal bg-light-blue-500 rounded rounded-l-none border-l-0 border-2 border-light-blue-500 px-3 whitespace-no-wrap text-grey-dark text-sm">%</span>
              </div>	
            </div>	
          </div>
  
        </div>
      <% } %>

    </div>
  </section>
  <a href="/commission/<%= data.commission_code %>" class="text-sm mt-5 w-32 focus:outline-none flex justify-center px-4 py-2 rounded font-bold cursor-pointer 
              hover:bg-blue-700 hover:text-blue-100 
              bg-blue-100 
              text-blue-700 
              border duration-400 ease-in-out 
              border-blue-600 transition "> Save</a>
</div>
<%- include('../partials/footer') %>