<%- include('../partials/header') %>
<div class="header bg-gradient-to-r from-orange-500 to-orange-600">
  <div id="header-container" class="container mx-auto">
    <!-- <span class="inline-block tracking-wider text-white bg-blue-700 px-4 py-1 text-xs rounded leading-loose font-semibold" title="">
     Standard Agent
    </span>
    <span class="inline-block tracking-wider text-white bg-blue-700 px-4 py-1 ml-2 text-xs rounded leading-loose font-semibold" title="">
      Legacy Residuals
     </span> -->
    <p class="text-5xl text-white text-bottom"><strong><%= data[0].name %></strong></p>
    
  </div>
</div>
<div class="w-100 h-10 bg-orange-800">
  <div class="container mx-auto">
    <ul class='tabs flex cursor-pointer'>
      <li class='text-white py-2 px-6 active'><a>MID Administration</a></li>
    </ul>
  </div>

</div>
<div class="container mx-auto pt-5">


  <div id="mid_admin">
    
        <div class="shadow-md rounded py-4 px-4">
          <input id="mid-input" type="text" placeholder="Enter MID" class="inline-block w-5/6 px-3 py-3 border-solid border-2 border-light-blue-500 placeholder-gray-400 text-gray-700 relative bg-white bg-white rounded text-sm outline-none focus:outline-none focus:shadow-outline" />
          <a id="mid-btn" class="ml-4 inline-block text-base w-auto focus:outline-none justify-center px-4 py-2 rounded font-bold cursor-pointer 
          hover:bg-blue-700 hover:text-blue-100 
          bg-blue-100 
          text-blue-700 
          border duration-400 ease-in-out 
          border-blue-600 transition "><i class="fas fa-plus pr-2 py-1"></i> Add MID</a>
        </div>
   
        
      <div class=" px-2" >
        <div id="mid-list" class="overflow-auto" style="height: 620px;">
          <div class='py-1'></div>
          <% if (data.length > 0 ){ %>
            <%  for(var i =0; i < data.length; i++){ %>
            
            <div class="px-3 py-3 bg-gray-100 w-full mb-2" id="<%= 'mid-'+i %>">
              <p class="inline-block"><%= data[i].mid %></p>
              <a id="<%= data[i].mid %>" onclick="deleteMID(this.id)">
                <i class="far fa-trash-alt inline-block float-right py-1 text-red-500 cursor-pointer"></i>
              </a>  
            </div>
            <% } %>
          <% } %>
        </div>
    </div>
</div>





<script>

  $('#componentform').hide()
  $("#addcomponent-btn").click(function () {
    $('#componentrow').toggle()
    $('#componentform').toggle()
  })
  $("#savecomponent-btn").click(function () {
    $('#componentrow').toggle()
    $('#componentform').toggle()
  })

  $(".clickable-row").click(function () {
    window.location = $(this).data("href");
  });

  var numOfAppended = 0 
  $('#mid-btn').click(function(){
    numOfAppended++
    var value = $('#mid-input').val
    $("#mid-list").append(`
        <div id="${'newrow-'+ numOfAppended}" class="px-3 py-3 bg-gray-200 w-full mb-2" style="background-color:#FAFC92;">
            <p class="inline-block">112354</p>
            <i class="far fa-trash-alt inline-block float-right py-1 text-red-500 cursor-pointer" onclick="$(this).closest('div').remove()"></i>
        </div>
    `)
    $("#mid-list").animate({ scrollTop: $('#mid-list').prop("scrollHeight")}, 1000);
    $( "#newrow-" + numOfAppended ).animate({
          backgroundColor: "#F7FAFC",
        }, 4000 )
  })
  
  var currentId = "<%- data[0].parent_id %>"
  function deleteMID(id){
    $.ajax({
        url: `localhost:8080/midadmin/${currentId}?mid=${id}`,
        type: 'DELETE',
        success: function(result) {
            // Do something with the result
        }
    });
  }
  
</script>

<%- include('../partials/footer') %>